.pagination{

.controls{
  text-align: center;
  button{
    cursor: pointer;
    background: #28282b;
    color: white;
    border: 2px solid teal;
    padding: 10px;
    &.active {
      border-color: white;
    }

    &.disabled {
      background: gray;
    }
  }
}
  
}