.pagination .controls {
  text-align: center;
}

.pagination .controls button {
  cursor: pointer;
  background: #28282b;
  color: white;
  border: 2px solid teal;
  padding: 10px;
}

.pagination .controls button.active{
  background-color: teal;
  color: white;
}

.pagination .controls button[disabled]{
  cursor: not-allowed;
}
