.auto-complete {
}

.auto-complete:hover{
    outline: 1px solid blue;
}

.auto-complete-input-container {
  position: relative;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}
.auto-complete-input-container input{
    margin: 0;
    padding: 0;
    background: 0 0;
    border: none;
    outline: none;
}

.auto-complete-dropdown{
    position: absolute;
    width: 100%;
    top: 100%; /* to place the dropdown after the containing block*/
    min-height: 100px;
    box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
}
.auto-complete-dropdown-items:hover{
  background-color: ghostwhite;
}