
.timer{
    background: black;
    .time{
      font-size: 80px;
      color: white;
      text-align: center;
    }
    .handles{
      text-align: center;
      button{
        background-color: teal;
        padding: 10px 20px;
        cursor: pointer;
      }
    }
  }