.breadcrumb {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
}

.breadcrumb ol {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.breadcrumb a {
  color: rgba(0, 0, 0, 0.45);
  transition: color 0.3s;
}
.breadcrumb a:hover {
  color: rgba(0, 0, 0, 0.85);
}
.breadcrumb li:last-child {
  color: rgba(0, 0, 0, 0.85);
}
.breadcrumb li:last-child a {
  color: rgba(0, 0, 0, 0.85);
}
/* hides last seperator not needed */
.breadcrumb li:last-child > .breadcrumb-separator {
  display: none;
}

.breadcrumb-separator {
  margin: 0 8px;
  color: rgba(0, 0, 0, 0.45);
}
