.carousel{
  overflow: hidden;
  box-sizing: border-box;
}
.carousel_track {
  transition: transform 500ms ease-in-out;
}

.carousel_track > div {
  display: inline-block;
}

.carousel_handles {
  display: flex;
  justify-content: center;
  gap: 10px;

}

.carousel_handles button {
  padding: 2px 7px;
  cursor: pointer;
}