.tooltip-container{
  display: inline; /*to flow with the child*/
  position: relative;
}


.tooltip {
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  bottom: calc(100% + 15px); /* places above the container + some space for tooltip*/
  transform: translateX(-50%);
  width: max-content;
  max-width: 250px;
  background: black;
  color: white;
  padding: 15px;
}
