

.outline{
  outline: 2px solid black;
}

.ant-row{
  outline: 2px solid black;
  margin-top: 20px;
}

.ant-col{
  outline: 2px solid red;
}

.dropdown-example nav{
  display: flex;
  background: #282c34;
  justify-content: space-between;
  color: white;
  align-items: center;
}

.dropdown-example nav ul{
  list-style: none;
  display: flex;
  align-items: center;
}
.dropdown-example nav ul li{
  padding: 0 20px;
}