
.app {
    display: flex;
}

/* Scroller example css */
.appcontainer{
   display: flex;
}

.appcontainer .menu{
    position: fixed;
 }
.appcontainer .master{
    flex-basis: 25%;
    border: 2px solid gray;
    min-width: 25%;
}

.appcontainer .content{
   flex-basis: 75%;
}

.contentSection img{
    width: 100%;
    height: 250px;
}

.contentSection .images{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

/* ENDS */

