.custom-range-slider {
  position: relative;
  height: 20px;
  background-color: #ddd;
  cursor: pointer;
}

.slider-track {
  position: absolute;
  height: 100%;
  background-color: #3498db;
}

.slider-thumb {
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #e74c3c;
  cursor: pointer;
}


